@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
html {
  font-family: "Heebo", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  height: 100vw;
}
/* ? Header */
nav .pages {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 60px;
}
.pages li {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.about {
  display: flex;
  flex-direction: column;

  width: 500px;
}
.about-header {
  font-weight: 700;
  margin-bottom: 20px;
}
.about-text {
  font-weight: 400;
  margin-bottom: 20px;
}
.download-resume {
  font-weight: 500;
  padding: 10px;
  background-color: #ff6464;
  border: none;
  color: white;
  width: 208px;
  height: 47px;
  text-align: center;
}
.profile-image-container {
  margin-left: 10%;
}
.profile-image-container img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: -5px 4px 2px 3px #edf7fa;
}
/* ? Seaction (Recent Posts) */
.recent-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  background-color: #edf7fa;
}

.recent-posts-h {
  margin: 0 auto;
  width: 59%;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  padding: 10px;
}
.recent-posts-R {
  color: #00a8cc;
}
.posts {
  width: 59%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.first-post,
.second-post {
  padding: 20px;
  width: 418px;
  height: 295px;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.f-header h3,
.s-header h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}
.s-date-tool,
.f-date-tool {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.date,
.tool {
  font-size: 18px;
  line-height: 26px;
}
.vertical-bar {
  margin: 0 10px;
  width: 1px;
  height: 15px;
  border: 0px solid black;
  background-color: black;
}
.s-text,
.f-text {
  margin-top: 20px;
}
/* ? Seaction (Futured works) */
.futured-works {
  width: 59%;
  height: 52%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.future-h {
  padding: 20px 0;
}
.future-h h2 {
  font-size: 22px;
  line-height: 60px;
  font-weight: 400;
}
.w-1,
.w-2,
.w-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.w-descriptions {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.w-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
}
.w-year-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}
.w-year {
  width: 55px;
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  background: #142850;
  border-radius: 16px;
  color: white;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  padding: 4px;
  text-align: center;
}
.w-group {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  color: gray;
}
.w-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.w1-t {
  width: 90%;
}
.w2-t {
  width: 90%;
}
.w3-t {
  width: 85%;
}
.horizantal-spliter {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}
/* ? Footer (Social Media) */
.footer {
  display: flex;
  flex-direction: column;
  padding: 10% 0 5% 0;
  align-items: center;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.instagram,
.twitter,
.linkedIn {
  margin-left: 40px;
}
.copy-right {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
}
