@media screen and (max-width: 484px) {
  nav .pages {
    display: none;
  }
  nav .menu {
    display: block;
  }
  .checkbox:checked ~ .sidebar {
    transition: all ease-in-out 2s;
    -webkit-transition: all ease-in-out 2s;
    -moz-transition: all ease-in-out 2s;
    -ms-transition: all ease-in-out 2s;
    -o-transition: all ease-in-out 2s;
    right: 0px;
  }
  .checkbox:checked ~ .menu {
    visibility: hidden;
  }
  .sidebar {
    transform: translateX(0vw);
    position: relative;
    right: -186px;
    width: 40vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    z-index: 5;
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
  }
  .ion-close-round {
    position: absolute;
    left: -22px;
    top: 2px;
    font-size: 23px;
  }
  .sidebar img {
    width: 50%;
    border-radius: 50%;
    margin: 20px;
  }
  .sidebar h3 {
    margin-top: 20px;
  }
  ._pages {
    list-style: none;
    text-align: left;
  }
  ._pages li {
    padding: 5px;
    margin-top: 10px;
  }
  ._pages li:hover {
    border-bottom: 1px solid #21243d;
    transition: all ease-in-out 2s;
    -webkit-transition: all ease-in-out 2s;
    -moz-transition: all ease-in-out 2s;
    -ms-transition: all ease-in-out 2s;
    -o-transition: all ease-in-out 2s;
  }

  .info {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: reverse;
    height: auto;
  }
  .about {
    width: 100%;
    align-items: center;
  }
  .about-header {
    text-align: center;
    width: 80%;
  }
  .profile-image-container {
    margin: 0;
  }
  .about-text {
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .download-resume {
    margin: 20px auto 40px auto;
  }
  /* ? Seaction (Recent Posts) */
  .posts {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .first-post,
  .second-post {
    width: 100%;
    margin-bottom: 10px;
  }
  .recent-posts {
    height: auto;
  }
  .recent-posts-h {
    width: 100%;
    justify-content: center;
  }
  .recent-posts-L {
    padding: 10px 10px 0 10px;
  }
  .recent-posts-R {
    display: none;
  }

  /* ? Seaction (Futured works) */
  .futured-works {
    width: 100%;
    height: auto;
    align-items: center;
  }
  .future-h h2 {
    text-align: center;
  }
  .w-2,
  .w-3,
  .hr-1,
  .hr-2 {
    display: none;
  }
  .horizantal-spliter {
    width: 90%;
  }
  .w-1,
  .w-2,
  .w-3 {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .w1-img,
  .w2-img,
  .w3-img {
    padding: 6% 6% 3% 6%;
  }
  .w1-img img,
  .w2-img img,
  .w3-img img {
    width: 100%;
  }
  /* ? Footer (Social Media) */
  .footer {
    margin-top: 15%;
    margin-bottom: 5%;
  }
}
